.cp {
  cursor: pointer;
}
.card-header {
  background-color: #efefef !important;
}
.text-maroon {
  color: #800000;
}
.p-82 {
  padding: 0px 80px !important;
}

.p-12-rt {
  padding: 12px 0px 0px 12px;
}

table.apps td,
tr {
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
